doctype html
//
    Urban by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
    head
        title cnh holdings by SAM WORK
        | 		
        meta(charset='utf-8')
        | 		
        meta(name='viewport', content='width=device-width, initial-scale=1')
        | 		
        link(rel='stylesheet', href='/stylesheets/main.css')
    | 	
    body
        // Header
        header#header
            .logo
                a(href='index.html')
                    img(src='http://www.cnhholdings.com/img/logo.gif')                    
            | 				
            a(href='#menu') Menu
        // Nav
        nav#menu
            ul.links
                li
                    a(href='index.html') Home
                | 					
                li
                    a(href='generic.html') Generic
                | 					
                li
                    a(href='elements.html') Elements
        // Banner
        section#banner
            .inner
                header
                    h1 This is CNH
                    | 						
                    p
                        | Credit, Creativity, Human
                        br
                        | CNH와 관계를 맺고 있는 모든 고객, 주주, 종업원들에게 차별화된 가치 제공
                | 					
                //- a.button.big.scrolly(href='#main') Learn More
        // Main
        #main
            // Section
            section.wrapper.style1
                .inner
                    // 2 Columns
                    .flex.flex-2
                        .col.col1
                            .image.round.fit
                                a.link(href='generic.html')
                                    img(src='/images/pic01.jpg', alt='')
                        | 									
                        .col.col2
                            h3 Maecenas a gravida quam
                            | 										
                            p
                                | Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                            | 										
                            p
                                | Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                            | 										
                            a.button(href='#') Learn More
            // Section
            section.wrapper.style2
                .inner
                    .flex.flex-2
                        .col.col2
                            h3 Suspendisse quis massa vel justo
                            | 									
                            p
                                | Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                            | 									
                            p
                                | Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                            | 									
                            a.button(href='#') Learn More
                        | 								
                        .col.col1.first
                            .image.round.fit
                                a.link(href='generic.html')
                                    img(src='/images/pic02.jpg', alt='')
            // Section
            section.wrapper.style1
                .inner
                    header.align-center
                        h2 Aliquam ipsum purus dolor
                        | 								
                        p Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.
                    | 							
                    .flex.flex-3
                        .col.align-center
                            .image.round.fit
                                img(src='/images/pic03.jpg', alt='')
                            | 									
                            p
                                | Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                            | 									
                            a.button(href='#') Learn More
                        | 								
                        .col.align-center
                            .image.round.fit
                                img(src='/images/pic05.jpg', alt='')
                            | 									
                            p
                                | Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                            | 									
                            a.button(href='#') Learn More
                        | 								
                        .col.align-center
                            .image.round.fit
                                img(src='/images/pic04.jpg', alt='')
                            | 									
                            p
                                | Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
                            | 									
                            a.button(href='#') Learn More
        // Footer
        footer#footer
            .copyright
                ul.icons
                    li
                        a.icon.fa-twitter(href='#')
                            span.label Twitter
                    | 						
                    li
                        a.icon.fa-facebook(href='#')
                            span.label Facebook
                    | 						
                    li
                        a.icon.fa-instagram(href='#')
                            span.label Instagram
                    | 						
                    li
                        a.icon.fa-snapchat(href='#')
                            span.label Snapchat
                | 					
                p
                    | © Untitled. All rights reserved. Design: 
                    a(href='https://templated.co') TEMPLATED
                    | . Images: 
                    a(href='https://unsplash.com') Unsplash
                    | .
        // Scripts
        script(src='/javascripts/jquery.min.js')
        | 			
        script(src='/javascripts/jquery.scrolly.min.js')
        | 			
        script(src='/javascripts/jquery.scrollex.min.js')
        | 			
        script(src='/javascripts/skel.min.js')
        | 			
        script(src='/javascripts/util.js')
        | 			
        script(src='/javascripts/main.js')
